
body{
    background-color:#efefef;
    font-family: 'Roboto', sans-serif;
}

.Media-container{
    width: 100%;
    overflow:visible;
    display:flex;
    overflow: hidden;
    overflow-x: scroll
}

.Media{
    cursor: pointer;
    width: 260px;
    text-align: center;
    padding:1px 6px;
}

.Media-info img{
    width: 160px;
    height: 160px;
}

.Media-info h3{
    margin: 2px
}
